In [1]:
import pandas as pd
import seaborn as sn
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("../data/lovoo_v3_users_api-results.csv")

In [7]:
df.head()

,gender,genderLooking,age,name,counts_details,counts_pictures,counts_profileVisits,counts_kisses,counts_fans,counts_g,...,shareProfileEnabled,lastOnlineDate,lastOnlineTime,birthd,crypt,freetext,whazzup,userId,pictureId,isSystemProfile
0,F,M,25,daeni,1.00,4,8279,239,0,3,...,1,2015-04-25T20:43:26Z,1.429995e+09,0,NaN,Nur tote Fisch schwimmen mit dem Strom,Nur tote fische schwimmen mit dem strom,4e3842f79b70e7ea57000064,55303fc3160ba0eb728b4575,NaN
1,F,M,22,italiana 92,0.85,5,663,13,0,0,...,1,2015-04-26T09:19:35Z,1.430040e+09,0,NaN,NaN,Primaveraaa<3,4e3d34bf5d2bce7b160006a3,552e7b61c66da10d1e8b4c82,NaN
2,F,M,21,Lauraaa,0.00,4,1369,88,0,2,...,1,2015-04-06T14:24:07Z,1.428330e+09,0,NaN,NaN,NaN,4ec96c090dc82cb25d00000a,54a584ecc56da128638b4674,NaN
3,F,none,20,Qqkwmdowlo,0.12,3,22187,1015,2,3,...,1,2015-04-07T11:21:01Z,1.428406e+09,0,NaN,NaN,Je pense donc je suis. Instagram quedev,4eef8b81ebf2c8f64000000c,54c92738076ea1b5338b4735,NaN
4,F,M,21,schaessie {3,0.15,12,35262,1413,9,12,...,1,2015-04-06T14:25:20Z,1.428330e+09,0,NaN,NaN,Instagram: JESSSIESCH,4ef3cc5aa9d0b3d07d000017,54e1a6f6c76da135748b4a3a,NaN

In [8]:
df.describe()

,age,counts_details,counts_pictures,counts_profileVisits,counts_kisses,counts_fans,counts_g,distance,isFlirtstar,isHighlighted,...,isNew,isOnline,isVip,lang_count,verified,shareProfileEnabled,lastOnlineTime,birthd,crypt,isSystemProfile
count,3992.000000,3992.000000,3992.000000,3992.000000,3992.000000,3992.000000,3992.000000,3946.000000,3992.000000,3992.000000,...,3992.000000,3992.000000,3992.000000,3992.000000,3992.000000,3992.000000,3.991000e+03,3992.000000,46.0,2.0
mean,21.991483,0.569409,4.786573,3705.467184,156.599699,2.335421,0.125501,207.230005,0.011774,0.011774,...,0.238727,0.585421,0.022796,1.109719,0.219940,0.960671,1.428921e+09,0.003758,1.0,1.0
std,1.959481,0.326066,4.420238,6845.038330,377.650691,12.235699,1.238945,196.594017,0.107879,0.107879,...,0.426359,0.492711,0.149270,0.582451,0.414258,0.194400,8.227151e+05,0.061191,0.0,0.0
min,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.426592e+09,0.000000,1.0,1.0
25%,20.000000,0.310000,2.000000,383.000000,11.000000,0.000000,0.000000,83.875000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.428332e+09,0.000000,1.0,1.0
50%,22.000000,0.620000,4.000000,1222.000000,44.000000,0.000000,0.000000,172.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.428400e+09,0.000000,1.0,1.0
75%,24.000000,0.850000,6.000000,4063.250000,141.000000,0.000000,0.000000,317.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.429992e+09,0.000000,1.0,1.0
max,28.000000,1.000000,30.000000,164425.000000,9288.000000,241.000000,43.000000,6918.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,9.000000,1.000000,1.000000,1.430647e+09,1.000000,1.0,1.0

In [ ]:
df[""].isna().sum()

gender                       0
genderLooking                0
age                          0
name                         0
counts_details               0
counts_pictures              0
counts_profileVisits         0
counts_kisses                0
counts_fans                  0
counts_g                     0
flirtInterests_chat          0
flirtInterests_friends       0
flirtInterests_date          0
country                      0
city                       287
location                    13
distance                    46
isFlirtstar                  0
isHighlighted                0
isInfluencer                 0
isMobile                     0
isNew                        0
isOnline                     0
isVip                        0
lang_count                   0
lang_fr                      0
lang_en                      0
lang_de                      0
lang_it                      0
lang_es                      0
lang_pt                      0
verified                     0
shareProfileEnabled          0
lastOnlineDate               1
lastOnlineTime               1
birthd                       0
crypt                     3946
freetext                  3879
whazzup                   1593
userId                       0
pictureId                   91
isSystemProfile           3990
dtype: int64